---
import '@fontsource-variable/jetbrains-mono';

interface Props {
  title: string,
  description: string,
  label: string,
  link: string,
  image: string,
  tags: string[],
}

const { title, description, label, link, image, tags } = Astro.props
---

<a
  class="group font-jetBrains block bg-card-dark border border-white/10 rounded-2xl overflow-hidden hover:shadow-project transition-shadow"
  href={link}
  aria-label={label}
  target="_blank"
>
  <article>
    <img
      class="w-full blog h-auto scale-110 group-hover:scale-105 transition-transform duration-300"
      src={image}
      alt={title}
      loading="lazy"
    >

    <div class="p-6">
      <h3 class="font-bold">{title}</h3>
      <!-- @ts-ignore -->
      <p set:html={description} class="text-[13px] py-5" />

      <footer>
        <ul class="flex flex-wrap items-center gap-x-4 gap-y-3">
          {
            tags.map(tag => (
              <li class="text-xs bg-blue-500/10 text-blue-400 px-2 py-[6px] rounded-lg">
                {tag}
              </li>
            ))
          }
        </ul>
      </footer>
    </div>
  </article>
</a>