---
import CalendarIcon from "../icons/Calendar.astro";
import type { Technologies as TechnologiesType } from "../../constants/technologies";
import TechnologyBadge from "../TechnologyBadge.astro";

export interface Props {
  role: string;
  company: string;
  startDate: string;
  endDate: string;
  description: string;
  technologies: TechnologiesType[];
}

const { role, company, startDate, endDate, description, technologies } =
  Astro.props;
---

<article
  class="rounded-xl border p-6 space-y-6 bg-white/5 border-white/10 backdrop-blur-sm"
>
  <header
    class="flex flex-col-reverse sm:flex-row items-center justify-between gap-4"
  >
    <div class="text-center sm:text-left">
      <h3 class="font-semibold text-white text-lg mb-2">
        {role}
      </h3>

      <span class="text-purple-300 font-medium">
        {company}
      </span>
    </div>

    <span class="flex items-center gap-x-2 text-gray-400 text-sm">
      <CalendarIcon class="size-4" />
      {startDate} - {endDate}
    </span>
  </header>

  <div>
    <p class="text-gray-300 mb-4 leading-relaxed">
      {description}
    </p>

    <ul class="flex flex-wrap gap-2">
      {
        technologies.map((technology) => (
          <li>
            <TechnologyBadge {...technology} />
          </li>
        ))
      }
    </ul>
  </div>
</article>
